@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');



body {
    background-color: #fd9d69;
    font-family: "Roboto", sans-serif;
}

nav {
  
    display: flex;
  background-color: #929b89;
  width: 100%;
  padding-top: 2%;
  padding-bottom: 2%;
  }

  .brand-name {
    width: 110%;
    padding-left: 5%;
  }
  
  .brand-logo {
    width: 17%;
    margin-top: 10px;
   }

  .navbar {
    height: 80px;
      display: flex;
      justify-content: space-between; 
      align-items: center;
      width: 100%;
    }
    
    .nav-links {
      list-style: none;
      display: flex;
      justify-content: flex-end;
      margin: 0;
      padding: 0;
    }
    
    a {
      text-decoration: none;
    color: #929b89;
    padding: 8px 8px;
    border-radius: 10px;      
    transition: background-color 0.3s ease;
    font-size: 30px;
  }
  
  a:hover {
    background-color: #434c3b;  
  
      text-decoration: none;
      color: black;
      font-size: 30px;
    }
  ul {
      list-style-type: none; 
      display: flex;   
      width: 100%;  
    }
  
    a {
      display: flex;
      text-decoration: none; 
      color: #434c3b;
      width: 100%;
    }        
  
    .contact {display: flex;
      justify-content: end}

      .homepic {display: flex;
    justify-content: center;}

    header, footer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        background-color: #929b89;
        color: #fd9d69;
        font-size: 2rem;
    }

    .socials-links {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }

    .paragraph-drinks {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 1.75rem;
        color: white;
        padding: 5%;
    }

    .drinks-prices {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        font-size: 1.5rem;
        color: white;
        padding-bottom: 5%;
    }

    .paragraph-reviews {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 1.75rem;
        color: white;
        padding: 5%;
    }

    .testi {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        font-size: 1.5rem;
        color: white;
        margin-left: 10%;
        margin-right: 10%;
        padding-bottom: 5%;
    }

    .drinks {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        height: 25%;
        max-width: auto;
        object-fit: cover;
    }

    .drink {
        width: 30%;
    }

    .rev {
        width: 30%;
    }

    .revtext {
        justify-self: left;
        align-self: center;
        width: 40%;
        font-size: 2.2rem;
    }